[Desktop Entry]
Version=1.0
Name[cs]=Terminix
Name[de]=Terminix
Name[el]=Terminix
Name[en]=Terminix
Name[es]=Terminix
Name[fr]=Terminix
Name[he]=Terminix
Name[id]=Terminix
Name[it]=Terminix
Name[ja]=Terminix
Name[ko]=Terminix
Name[nl]=Terminix
Name[pl]=Terminix
Name[pt_BR]=Terminix
Name[ru]=Terminix
Name[sv]=Terminix
Name[uk]=Terminix
Name[zh_CN]=Terminix
Name[zh_TW]=Terminix
Name=Terminix
Comment[cs]=Dlaždicový terminál pro Gnome
Comment[de]=Ein Terminal für Gnome mit Kacheldarstellung
Comment[es]=Una terminal divisible para Gnome
Comment[fr]=Un terminal scindable pour Gnome
Comment[he]=מסוף בריצוף עבור GNOME
Comment[ja]=Gnome のタイル型ターミナル
Comment[ko]=그놈을 위한 타일링 터미널
Comment[nl]=Een terminal voor Gnome met tegelmogelijkheid
Comment[pl]=Emuluje działanie terminala w środowisku GNOME wykorzystując interfejs kafli
Comment[pt_BR]=Um terminal em mosaico para o GNOME
Comment[ru]=Тайлинговый терминал для Gnome
Comment[sv]=En sida-vid-sida-terminal för GNOME
Comment[uk]=Мозаїчний термінал для Gnome
Comment[zh_CN]=GNOME 的平铺终端模拟器
Comment=A tiling terminal for Gnome
Exec=terminix --maximize
Terminal=false
Type=Application
StartupNotify=true
Categories=System;TerminalEmulator;X-GNOME-Utilities;
Icon[cs]=com.gexperts.Terminix
Icon[de]=com.gexperts.Terminix
Icon[el]=com.gexperts.Terminix
Icon[es]=com.gexperts.Terminix
Icon[fr]=com.gexperts.Terminix
Icon[he]=com.gexperts.Terminix
Icon[ja]=com.gexperts.Terminix
Icon[nl]=com.gexperts.Terminix
Icon[pl]=com.gexperts.Terminix
Icon[pt_BR]=com.gexperts.Terminix
Icon[ru]=com.gexperts.Terminix
Icon[sv]=com.gexperts.Terminix
Icon[uk]=com.gexperts.Terminix
Icon[zh_CN]=com.gexperts.Terminix
Icon=com.gexperts.Terminix
DBusActivatable=true
Actions=new-window;new-session;

[Desktop Action new-window]
Name[bg]=Нов прозорец
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en]=New Window
Name[es]=Nueva ventana
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウインドウ
Name[ko]=새 창
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Створити вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新建視窗
Name=New Window
Exec=terminix --action=app-new-window

[Desktop Action new-session]
Name[bg]=Нова сесия
Name[cs]=Nové sezení
Name[de]=Neue Sitzung
Name[el]=Νέα συνεδρία
Name[en]=New Session
Name[es]=Nueva sesión
Name[fr]=Nouvelle Session
Name[he]=הפעלה חדשה
Name[id]=Sesi Baru
Name[it]=Nuova sessione
Name[ja]=新しいセッション
Name[ko]=새 세션
Name[nl]=Nieuwe sessie
Name[pl]=Nowa sesja
Name[pt_BR]=Nova sessão
Name[ru]=Новый сеанс
Name[sv]=Ny session
Name[tr]=Yeni Oturum
Name[uk]=Створити сеанс
Name[zh_CN]=新建会话
Name[zh_TW]=新建會話
Name=New Session
Exec=terminix --action=app-new-session
