[Desktop Entry]
Name=Dropbox
X-GNOME-Autostart-Delay=10
GenericName=File Synchronizer
Comment=Sync your files across computers and to the web
Exec=dropbox start -i 
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer;
StartupNotify=false
