[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Telegram
Exec=/opt/telegram/Telegram
Comment=Network taking back our right to privacy.
Icon=/opt/telegram/telegram.svg
Categories=GNOME;GTK;Network;
X-GNOME-Autostart-enabled=true
