[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Telegram Desktop
X-GNOME-Autostart-Delay=10
Comment=Official desktop version of Telegram messaging app
Exec=telegram
Icon=telegram
Terminal=false
StartupWMClass=Telegram
Type=Application
Categories=Network;
MimeType=x-scheme-handler/tg;
X-Desktop-File-Install-Version=0.22
