set ignorecase
set smartcase
set history=1500
set surround
set scrolloff=5
let mapleader=","
set relativenumber
set nrformats
set number
set clipboard=unnamedplus,unnamed
set showcmd
set startofline
set ideawrite=file
set incsearch
set ideajoin
set commentary
set easymotion

nnoremap <leader>ev :e ~/.ideavimrc<CR>
nnoremap <leader>sv :source ~/.ideavimrc<CR>

map <S-/> <Action>(AceAction)

nnoremap <C-h> <<
nnoremap <C-l> >>
inoremap <C-h> <C-d>
inoremap <C-l> <C-t>

nnoremap <C-j> ddp
nnoremap <C-k> kddpk

nnoremap zm zz
nnoremap zh zt
nnoremap zl zb

nnoremap <C-A-j> :action MethodDown<CR>
nnoremap <C-A-k> :action MethodUp<CR>

" don't lose selection when indenting
vnoremap <C-h> <gv
vnoremap <C-l> >gv
vnoremap = =gv
" let Y yank not entire line, but from cursor to the end (consistent with D, C)
nnoremap Y y$
