! General
URxvt*termName:                             rxvt-256color
URxvt*loginShell:                           true
URxvt*scrollBar:                            false
URxvt*secondaryScroll:                      true
URxvt*saveLines:                            16384
URxvt*cursorBlink:                          true
URxvt*urgentOnBell:                         true
URxvt*visualBell:                           true
URxvt*override-redirect:                    false
URxvt*geometry:                             150x40
URxvt*scrollTtyKeypress:                    true
URxvt*scrollWithBuffer:                     false
URxvt*scrollTtyOutput:                      false
URxvt*scrollstyle:                          plain
URxvt.scrollWithBuffer:                     true
URxvt.scrollTtyKeypress:                    true
URxvt.jumpScroll:                           true
URxvt.skipScroll:                           true
URxvt*scrollBar_right:                      true
URxvt*scrollColor:                          #777777
URxvt*cursorColor:                          #ffcc00
URxvt.cutchars:                             "()*,<>[]{}|«»"

! Extensions
urxvt*perl-lib:                             /usr/lib/urxvt/perl/
URxvt*perl-ext-common:                      default,matcher,selection-to-clipboard,keyboard-select
URxvt*urlLauncher:                          /usr/bin/google-chrome
URxvt*matcher.button:                       1
URxvt*searchable-scrollback:                C-M-s
URxvt.keysym.M-Escape:                      perl:keyboard-select:activate
URxvt*keysym.M-s:                           builtin:
URxvt*keysym.C-M-s:                         searchable-scrollback:start
URxvt*clipboard.autocopy:                   true

! Fonts
URxvt*letterSpace:                          -2
URxvt*font:                                 xft:Liberation Mono for Powerline:size=12
URxvt*boldFont:                             xft:Liberation Mono for Powerline:size=12
! Google Material Design
URxvt*background:                           #263238
URxvt*foreground:                           #eceff1

! black
URxvt*color0:                               #263238
URxvt*color8:                               #37474f
! red
URxvt*color1:                               #ff9800
URxvt*color9:                               #ffa74d
! green
URxvt*color2:                               #8bc34a
URxvt*color10:                              #9ccc65
! yellow
URxvt*color3:                               #ffc107
URxvt*color11:                              #ffa000
! blue
URxvt*color4:                               #03a9f4
URxvt*color12:                              #81d4fa
! magenta
URxvt*color5:                               #e91e63
URxvt*color13:                              #ad1457
! cyan
URxvt*color6:                               #009688
URxvt*color14:                              #26a69a
! white
URxvt*color7:                               #cfd8dc
URxvt*color15:                               #eceff1
